.app-header {
    margin-bottom: 2rem;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
  }
  
  .app-header h1 {
    color: white;
    font-size: 2.5em;
    margin-bottom: 0.5rem;
    
  }
  
  .app-header p {
    color: white;
    opacity: 0.8;
  }